includes:
    - ./vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:

    paths:
        - app/
        - database/
        - tests/

    # Level 9 - Zero-Tolerance Mode (Expert Absolute Standard)
    level: 9

    ignoreErrors:
        # Resolving legacy ignore rules
        # - '#PHPDoc tag @var#'

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    # checkMissingIterableValueType: false
